select{
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;       
    background-image: url(../img/icons/arrow-down.png);
    background-repeat: no-repeat;
    background-position: 95% center;
    background-color: rgba(240, 240, 240, 0.3);
    border: 1px solid rgba(119, 119, 119, 0.3);
    border-radius: 3px;
    font-size: 14px !important;
    width: 200px;
    padding: 8px 0px 8px 5px;
    color: $text-color;
    font-weight: 500;
    &::after{
        content: " ";
        display: block;
        width: 1px;
        height: 30px;
        background-color: rgba(151, 151, 151, 0.3);
    }
    option{
    }
}

label{
    font-size: 14px;
    color: #7F7E7E;
}
input[type=text], input[type=email]{
    background-color: rgba(240, 240, 240, 0.3);
    border: 1px solid rgba(119, 119, 119, 0.3);
    border-radius: 3px;
    font-size: 12px !important;
    padding: 9px 0px 9px 5px;
    color: #777;
    min-width: 250px;
    &::placeholder{
        color: #777;
        opacity: 1;
    }
}