.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 2em;
  justify-content: left;
  padding-right: 30px;
  .gallery-item {
    a {
      color: $text-color;
      text-decoration: none;
    }
    div.preview {
      background-color: $beige;
      position: relative;
      &:hover .overlay {
        opacity: 1;
      }
      img {
        object-fit: contain;
        object-position: center bottom;
        width: 100%;
      }
      div.overlay {
        position: absolute;
        cursor: pointer;
        opacity: 0;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        padding: 0px 60px;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        i {
          color: white;
          font-size: 6.5em;
          padding: 40px 0px;
        }
        a {
          width: 100%;
          margin: 5px 0px;
        }
      }
    }
    div.infos {
      display: flex;
      justify-content: space-between;
      color: $text-color;
      font-weight: 500;
      font-size: 1.2em;
      p {
        margin-bottom: 0.5rem;
      }
    }
    div.author {
      p {
        margin: 0;
        span {
          color: $orange;
        }
      }
    }
  }
}

@media only screen and (min-width: 1600px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 980px) and (max-width: 1599px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
