nav.main-menu {
  position: relative;
  .inline-menu {
    height: 100vh;
    left: 0;
    position: fixed;
    width: 270px;
    padding: 30px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    img {
      width: 200px;
    }
    a {
      text-decoration: none;
      color: $text-color;
      &:hover {
        color: $orange !important;
      }
    }
    & > ul {
      padding-top: 30px;
      padding-left: 0;
      margin: 0;
      list-style-type: none;
      label {
        cursor: pointer;
        position: relative;
        color: $text-color;
        font-size: 1rem;
        &:hover {
          color: $orange !important;
        }
        &::after {
        }
      }
      input {
        display: none;
      }
      input:checked ~ ul.submenu {
        max-height: 300px;
        transition: max-height 0.5s ease-in;
      }
      li {
        font-weight: 600;
        padding: 4px 0px;
        ul.submenu {
          max-height: 0px;
          overflow: hidden;
          transition: max-height 0.5s ease-out;
          min-width: 100%;
          list-style: none;
          padding-left: 20px;
          padding-top: 5px;
          li {
            font-weight: 500;
            padding: 4px 0px;
            font-size: 0.8em;
          }
        }
      }
    }
    a.logo {
      display: block;
      img {
        width: 200px;
      }
    }
    div.sec-nav {
      margin-top: auto;
      transform: translateY(-100%);
      a {
        font-weight: 500;
        span {
          color: $orange;
          font-weight: 700;
        }
      }
    }
  }
  .mobile-menu {
    position: static;
    height: auto;
    display: none;
    justify-content: space-between;
    align-content: flex-start;
    padding: 0.5rem;
    .menu-toggle {
      display: block;
      position: relative;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
        &:checked ~ ul {
          transform: translate(0%, 0%);
          overflow: hidden;
        }
        &:checked ~ span {
        }
      }
      span {
        display: block;
        height: 3px;
        margin-bottom: 6px;
        background: $text-color;
        z-index: 1;
        width: 33px;
        cursor: pointer;
      }
      a {
        text-decoration: none;
        color: $text-color;
      }
      & > ul {
        position: fixed;
        margin: 0;
        padding: 0 1rem 1rem 0;
        top: 0;
        left: 0;
        list-style-type: none;
        text-align: right;
        width: 100vw;
        height: 100vh;
        transform: translate(100%, 0%);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        background-color: $beige;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        label {
          cursor: pointer;
          position: relative;
          color: $text-color;
          font-size: 1rem;
          &::after {
            content: "\f106";
            margin-left: 0.3em;
            font-family: "parallax";
            transform: rotate(180deg);
          }
        }
        input {
          display: none;
        }
        input:checked ~ ul.submenu {
          max-height: 300px;
          transition: max-height 0.5s ease-in;
        }
        li {
          font-weight: 600;
          padding: 4px 0px;
          ul.submenu {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s ease-out;
            min-width: 100%;
            list-style: none;
            padding-left: 20px;
            padding-top: 5px;
            li {
              font-weight: 500;
              padding: 4px 0px;
              font-size: 0.8em;
            }
          }
        }
      }
    }
    a.logo {
      display: block;
      img {
        width: 200px;
      }
    }
  }
}

nav.main-menu.dark {
  .inline-menu {
    background-color: $text-color;
    * {
      color: white;
    }
  }
}
@media screen and (max-width: 1024px) {
  nav.main-menu {
    .inline-menu {
      display: none;
      & > ul {
        text-align: right;
      }
      .social {
        display: none;
      }
    }
    .mobile-menu {
      display: flex;
    }
  }
}
