$text-color: #333;
$orange: #C64800;
$alert: #E50000;
$beige: #FAF6ED;
$blanc: #fff;
$darkblue: #243365;
$cabin: 'Cabin', sans-serif;
$raleway: 'Raleway', sans-serif;
$opensans: 'Open Sans', sans-serif;