@import "variables";
@import "btn";
@import "forms";
@import "galerie";
@import "breadcrumbs";
@import "main-menu";
@import "footer";
@import "home";
@import "galerie-html";
@import "item-html";
@import "paiement-html";


html *, html *::before, html *::after{
    box-sizing: border-box;
}

body{
    font-family: $raleway;
}

.page-right{
    width: calc(100% - 303px);
    margin-left: 303px;
}

.centered{
    width: 1024px;
    margin: auto;
}

/* Titres */
h1{
    font-weight: 800;
}

h2{
    font-weight: 500;
    font-size: 2em;
}

h3{
    font-weight: 500;
    font-size: 1.8em;
}
h4{
    font-weight: 400;
    font-size: 1.2em;
}

/* Paragraphes */
p{
    font-family: $opensans;
    font-weight: 400;
}

.tete-texte{
    font-weight: 500;
    font-size: 1.2em;
}

/* Icon fonts */

// @font-face {
//     font-family: "Parallax";
//     src: url("../fonts/fontello-4e8b0606/font/parallax.woff2") format("woff2"),
//            url("../fonts/fontello-4e8b0606/font/parallax.woff2") format("woff");
// }

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    margin: 0;
  }

/* Autres */

.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.align-left{
    text-align: left;
}
.orange{
    color: $orange !important;
}