a.primary-btn {
  text-decoration: none;
  color: white !important;
  background-color: #C64800;
  padding: 10px 25px;
  font-size: 14px;
  font-weight: 500;
  min-width: 120px;
  text-align: center;
  display: inline-block;
  border: 1px solid #C64800;
}

a.secondary-btn {
  text-decoration: none;
  border: 1px solid #C64800;
  color: #C64800 !important;
  background-color: #fff;
  padding: 10px 25px;
  font-size: 14px;
  font-weight: 500;
  min-width: 120px;
  text-align: center;
  display: inline-block;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../img/icons/arrow-down.png);
  background-repeat: no-repeat;
  background-position: 95% center;
  background-color: rgba(240, 240, 240, 0.3);
  border: 1px solid rgba(119, 119, 119, 0.3);
  border-radius: 3px;
  font-size: 14px !important;
  width: 200px;
  padding: 8px 0px 8px 5px;
  color: #333;
  font-weight: 500;
}

select::after {
  content: " ";
  display: block;
  width: 1px;
  height: 30px;
  background-color: rgba(151, 151, 151, 0.3);
}

label {
  font-size: 14px;
  color: #7F7E7E;
}

input[type=text], input[type=email], input[type=search] {
  background-color: rgba(240, 240, 240, 0.3);
  border: 1px solid rgba(119, 119, 119, 0.3);
  border-radius: 3px;
  font-size: 12px !important;
  padding: 9px 0px 9px 5px;
  color: #777;
  min-width: 250px;
}

input[type=text]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder, input[type=search]::-webkit-input-placeholder {
  color: #777;
  opacity: 1;
}

input[type=text]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder, input[type=search]:-ms-input-placeholder {
  color: #777;
  opacity: 1;
}

input[type=text]::-ms-input-placeholder, input[type=email]::-ms-input-placeholder, input[type=search]::-ms-input-placeholder {
  color: #777;
  opacity: 1;
}

input[type=text]::placeholder, input[type=email]::placeholder, input[type=search]::placeholder {
  color: #777;
  opacity: 1;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 1em;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.gallery .gallery-item {
  width: 300px;
}

.gallery .gallery-item a {
  color: #333;
  text-decoration: none;
}

.gallery .gallery-item div.preview {
  background-color: #FAF6ED;
  position: relative;
}

.gallery .gallery-item div.preview img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
  width: 100%;
  max-height: 400px;
}

.gallery .gallery-item div.preview div.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.gallery .gallery-item div.preview div.overlay a {
  width: 100%;
  margin: 5px 0px;
}

.gallery .gallery-item div.infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #333;
  font-weight: 500;
  font-size: 1.2em;
}

.gallery .gallery-item div.infos p {
  margin-bottom: 0.5rem;
}

.gallery .gallery-item div.author p {
  margin: 0;
}

.gallery .gallery-item div.author p span {
  color: #C64800;
}

@media only screen and (min-width: 1600px) {
  .gallery {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 980px) and (max-width: 1599px) {
  .gallery {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 0;
  padding-left: 0;
  padding-top: 16px;
}

.breadcrumbs li {
  padding-right: 7px;
}

.breadcrumbs li::after {
  content: ">";
  display: inline;
  color: #898989;
  font-size: 0.7em;
  padding-left: 7px;
}

.breadcrumbs li:last-child a {
  color: #C64800;
}

.breadcrumbs li:last-child::after {
  content: "";
}

.breadcrumbs li a {
  text-decoration: none;
  color: #898989;
}

nav.main-menu {
  height: 100vh;
  left: 0;
  position: fixed;
  width: 303px;
  padding: 30px 0px 0px 20px;
}

nav.main-menu img {
  width: 200px;
}

nav.main-menu a {
  text-decoration: none;
  color: #333;
}

nav.main-menu > ul {
  padding-top: 30px;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

nav.main-menu > ul label {
  cursor: pointer;
  position: relative;
  color: #333;
}

nav.main-menu > ul input {
  display: none;
}

nav.main-menu > ul input:checked ~ ul.submenu {
  max-height: 300px;
  -webkit-transition: max-height 0.5s ease-in;
  transition: max-height 0.5s ease-in;
}

nav.main-menu > ul li {
  font-weight: 600;
  padding: 4px 0px;
}

nav.main-menu > ul li ul.submenu {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
  min-width: 100%;
  list-style: none;
  padding-left: 20px;
  padding-top: 5px;
}

nav.main-menu > ul li ul.submenu li {
  font-weight: 500;
  padding: 4px 0px;
  font-size: 0.8em;
}

footer {
  background-color: #333;
  color: #fff;
}

footer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 30px;
}

footer > div h4 {
  text-transform: uppercase;
}

footer > div ul {
  list-style-type: none;
  padding: 0;
}

footer > div ul li {
  padding: 2px 0px;
}

footer > div ul li a {
  color: #fff;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}

.home header.une-artiste {
  height: 200px;
  background-image: url("../img/artiste-une.jpg");
  background-size: cover;
  background-position: 0px -100px;
}

.home header.une-artiste div {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home header.une-artiste div h2 {
  color: white;
  margin: 0;
}

.home header.une-artiste div h2 span {
  font-weight: 400;
  font-size: 0.8em;
}

.home aside.lab-cta {
  padding: 15px;
  background-color: #C64800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home aside.lab-cta h3 {
  margin: 0;
  color: #fff;
  font-weight: 400;
  font-size: 1.3em;
}

.home main section {
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 60px 0px;
}

.home main section.trending {
  padding-top: 0;
  margin-top: 40px;
}

.home main section.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home main section.categories span {
  position: relative;
  color: #fff;
  font-size: 2.5em;
  font-weight: 600;
}

.home main section.categories .left {
  position: relative;
  width: 50%;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home main section.categories .left span {
  font-size: 3.5em;
}

.home main section.categories .left::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/tshirt-head.jpg");
  background-size: cover;
  background-position-y: center;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.home main section.categories .right {
  width: 50%;
}

.home main section.categories .right .sweater {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 225px;
  position: relative;
}

.home main section.categories .right .sweater::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/sweater-head.jpg");
  background-size: cover;
  background-position-y: center;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.home main section.categories .right .hoodie {
  height: 225px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home main section.categories .right .hoodie::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/hoodie-head.jpg");
  background-size: cover;
  background-position-y: center;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.home main section.lab-home {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #FAF6ED), color-stop(50%, #fff));
  background: linear-gradient(90deg, #FAF6ED 50%, #fff 50%);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home main section.lab-home div > div {
  padding: 30px;
  text-align: center;
}

.home main section.lab-home div > div a {
  margin: 20px 0px;
  display: inline-block;
}

.home main section.lab-home img {
  max-width: 550px;
}

.home main section.quote {
  font-weight: 500;
  background-image: url("../img/texture.png");
  background-position: center bottom;
  text-align: right;
  margin-bottom: 0px;
  padding-bottom: 120px;
}

.home main section.quote q {
  font-size: 1.8em;
  display: block;
  padding-right: 30px;
}

.home main section.quote cite {
  display: inline-block;
  padding: 20px 30px 0px 0px;
  font-style: normal;
  font-size: 1.5em;
  color: #C64800;
  position: relative;
}

.home main section.quote cite::before {
  content: " ";
  position: absolute;
  display: block;
  -webkit-transform: translate(-120%, 200%);
          transform: translate(-120%, 200%);
  top: 50%;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: #C64800;
}

.home main section.shop-adress {
  background-image: url("../img/shop.jpg");
  background-size: 130%;
  background-position: 0 center;
  height: 400px;
  margin-top: 0;
}

.home main section.shop-adress > div {
  text-align: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.home main section.shop-adress > div > div {
  padding-right: 15%;
}

.home main section.shop-adress > div > div address {
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
}

.home main section.shop-adress > div > div address p {
  margin: 7px 0px;
}

.home main section.shop-adress > div a {
  margin-top: 30px;
}

.home main section.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home main section.news article {
  margin: 0px 10px;
  width: 320px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.home main section.news article h2 {
  color: #fff;
  font-size: 2.5em;
  padding: 10px;
  margin: 0;
}

.home main section.news article:first-child {
  background-image: url("../img/news1.png");
}

.home main section.news article:nth-child(2) {
  background-image: url("../img/news2.png");
}

.home main section.news article:nth-child(3) {
  background-image: url("../img/news3.png");
}

main.galerie section.filtres {
  margin: 0;
  padding: 30px 0px 0px;
}

main.galerie section.filtres div.top-filtres select {
  margin: 0px 5px 10px;
}

main.galerie section.filtres div.mid-filtres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main.galerie section.filtres div.mid-filtres div {
  margin: 5px 5px;
}

main.galerie section.filtres div.bot-filtres {
  margin: 5px 5px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main.galerie section.filtres div.bot-filtres div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.galerie section.filtres div.bot-filtres div.filtre {
  padding: 10px;
  margin: 0px 5px;
  min-width: 80px;
  background-color: #f1f1f1;
  border-radius: 21px;
  font-size: 12px;
  color: #7F7E7E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main.galerie section.filtres div.bot-filtres div.filtre span {
  display: block;
}

main.galerie section.filtres div.bot-filtres div.filtre a {
  display: block;
  color: #6e6e6e;
  text-decoration: none;
  font-weight: 600;
}

main.galerie section.filtres div.bot-filtres p {
  font-size: 14px;
  color: #7F7E7E;
}

main.galerie section.filtres div.bot-filtres select {
  margin: 10px 7px;
}

main.galerie section.gallery {
  margin-top: 0;
  padding-top: 30px;
  padding-right: 30px;
}

main.item .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main.item .left {
  max-width: 600px;
}

main.item section.item-preview div.preview {
  background-color: #FAF6ED;
}

main.item section.item-preview div.preview img {
  width: 100%;
  height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
}

main.item section.item-preview div.views {
  margin-top: 20px;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main.item section.item-preview div.views div {
  background-color: #FAF6ED;
  margin: 0px 10px;
}

main.item section.item-preview div.views div img {
  width: 95px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
}

main.item div.item-panel {
  margin-left: 40px;
}

main.item div.item-panel h2 {
  margin-bottom: 0;
}

main.item div.item-panel p.author {
  margin-top: 0.6em;
}

main.item div.item-panel p.author span {
  color: #C64800;
}

main.item div.item-panel select {
  width: 160px;
}

main.item div.item-panel p.prix {
  font-weight: 700;
  font-size: 1.5em;
  font-family: "Raleway", sans-serif;
}

main.item div.item-panel div.taille * {
  display: inline-block;
}

main.item div.item-panel div.taille {
  margin-bottom: 20px;
}

main.item div.item-panel div.taille p {
  font-size: 0.8em;
  color: #C64800;
}

main.item div.item-panel div a {
  width: 100%;
  margin: 5px 0px;
}

main.item aside.suggestions {
  margin: 70px 0px 90px;
}

.paiement {
  background-color: #FAF6ED;
}

.paiement div.resume, .paiement header, .paiement fieldset {
  background-color: #fff;
  border-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

.paiement h2 {
  margin: 0;
}

.paiement header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paiement header h1 {
  margin: 0;
}

.paiement header img {
  width: 200px;
}

.paiement header a {
  color: #E50000;
}

.paiement .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.paiement .container .left {
  width: 60%;
}

.paiement .container .left fieldset.adresse input, .paiement .container .left fieldset.adresse select {
  min-width: 0;
}

.paiement .container .resume {
  width: 40%;
}

.paiement .container .resume img {
  width: 150px;
}

html *, html *::before, html *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.page-right {
  width: calc(100% - 303px);
  margin-left: 303px;
}

.centered {
  width: 1024px;
  margin: auto;
}

/* Titres */
h1 {
  font-weight: 800;
}

h2 {
  font-weight: 500;
  font-size: 2em;
}

h3 {
  font-weight: 500;
  font-size: 1.8em;
}

h4 {
  font-weight: 400;
  font-size: 1.2em;
}

/* Paragraphes */
p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.tete-texte {
  font-weight: 500;
  font-size: 1.2em;
}

/* Autres */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-left {
  text-align: left;
}

.orange {
  color: #C64800 !important;
}
/*# sourceMappingURL=style.css.map */